body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1669' height='880' preserveAspectRatio='none' viewBox='0 0 1669 880'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1576%26quot%3b)' fill='none'%3e%3crect width='1669' height='880' x='0' y='0' fill='rgba(251%2c 250%2c 250%2c 1)'%3e%3c/rect%3e%3cpath d='M1154.939%2c400.424C1187.368%2c400.373%2c1221.962%2c395.426%2c1239.868%2c368.389C1259.446%2c338.828%2c1258.881%2c300.274%2c1241.869%2c269.166C1224.136%2c236.74%2c1191.895%2c213.476%2c1154.939%2c213.091C1117.363%2c212.7%2c1082.898%2c234.382%2c1064.816%2c267.323C1047.376%2c299.094%2c1049.225%2c338.646%2c1069.545%2c368.657C1087.795%2c395.611%2c1122.388%2c400.475%2c1154.939%2c400.424' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-15.802455402888455 722.1070253315847L212.84982552271367 783.3742193531341 274.11701954426303 554.721938427532 45.464738618660924 493.45474440598264z' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M737.2970004892702 937.8872060785093L972.117281139156 941.9860093237153 741.3958037344762 703.0669254286234z' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1253.1829117762452 408.68680586458254L1441.3416970687717 504.5584955170828 1349.0546014287454 220.52802057205602z' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M887.5840065763008 283.2407676691471L1017.9391382547379 152.88563599070991 887.5840065763007 22.530504312272797 757.2288748978636 152.88563599070997z' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M898.561%2c704.739C964.923%2c702.858%2c1010.912%2c647.619%2c1045.453%2c590.923C1082.005%2c530.926%2c1115.831%2c461.582%2c1085.228%2c398.343C1051.433%2c328.507%2c975.907%2c281.321%2c898.561%2c287.378C828.335%2c292.878%2c788.931%2c361.564%2c756.486%2c424.088C727.404%2c480.131%2c707.982%2c543.349%2c736.499%2c599.681C767.663%2c661.242%2c829.589%2c706.694%2c898.561%2c704.739' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1458.2265535579336 380.8582517686044L1509.9466981831097 624.1824014387873 1753.2708478532925 572.4622568136112 1701.5507032281164 329.1381071434284z' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M521.440747986612-111.16363447392517L346.59473897241924-14.244909066965704 443.5134643793787 160.601099947227 618.3594733935714 63.68237454026756z' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1035.03%2c577.466C1077.578%2c577.85%2c1123.577%2c573.383%2c1147.457%2c538.166C1173.926%2c499.132%2c1177.786%2c445.135%2c1151.157%2c406.21C1126.838%2c370.661%2c1078.101%2c373.884%2c1035.03%2c373.824C991.796%2c373.763%2c942.433%2c369.987%2c918.339%2c405.885C892.354%2c444.6%2c899.845%2c497.611%2c926.066%2c536.166C949.478%2c570.59%2c993.401%2c577.09%2c1035.03%2c577.466' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M258.92419310401414 159.09220775393447L442.8511442555716 109.80912972655612 209.6411150766358-24.834743397623015z' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M119.3141277408165 401.67445582027926L250.45321486381584 483.61925220080866 332.3980112443452 352.48016507780926 201.25892412134587 270.5353686972799z' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M499.8057578544052 462.9329194643502L308.9121689543331 466.26497945298144 312.24422894296436 657.1585683530535 503.13781784303643 653.8265083644224z' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M350.7458860513941 510.4929817811105L536.5850743994829 331.03016367410333 357.12225629247575 145.19097532601455 171.28306794438697 324.65379343302163z' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M546.221%2c913.572C619.255%2c915.937%2c683.554%2c866.819%2c717.825%2c802.282C750.059%2c741.581%2c743.529%2c668.613%2c707.325%2c610.193C673.061%2c554.902%2c611.251%2c523.877%2c546.221%2c525.372C483.756%2c526.808%2c428.627%2c563.167%2c397.451%2c617.314C366.343%2c671.343%2c364.871%2c736.042%2c392.848%2c791.756C424.25%2c854.289%2c476.283%2c911.307%2c546.221%2c913.572' fill='rgba(13%2c 104%2c 203%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1576'%3e%3crect width='1669' height='880' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.restrictions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

.variables{
    display: flex;
    align-items: center;
    justify-content: center;
}

.variables input, 
.variables p{
    margin: 0 10px;
}

.principal{
    box-shadow: 0 4px 25px rgba(172, 172, 172, 0.3);
    padding: 50px;
    border-radius: 50px;
    background-color: white;
}

.principal h1{
    text-align: center;
    margin-bottom: 50px;
}

.inputs{
    display: flex;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputs input{
    border: 0;
    margin: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 80px;
    text-align: center;
}

.inputs p{
    border-left: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    margin-right: 0;
    background-color: #f5f5f5;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}



.numberInput{
    border-radius: 8px;
    border: 1px solid lightgray;
    width: 80px;
    padding: 5px;
    text-align: center;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
}

select{
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 5px;
}

.resSelect{
    margin-left: 10px;
}

.btn{
    background-color: #f5f5f5;
}

.btn:hover{
    background-color: #166EFD;
    color: white;
}

