
.restrictions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.variables{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.variables input, 
.variables p{
    margin: 0 10px;
}